.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/Laisbien.slnx/config/applicationhost.config
.vs/Laisbien.slnx/FileContentIndex/0283d57e-5129-4a10-b148-85a0ea91f946.vsidx
.vs/Laisbien/CopilotIndices/18.0.955.22606/CodeChunks.db
.vs/Laisbien/CopilotIndices/18.0.955.22606/CodeChunks.db-shm
.vs/Laisbien/CopilotIndices/18.0.955.22606/CodeChunks.db-wal
.vs/Laisbien/CopilotIndices/18.0.955.22606/SemanticSymbols.db
.vs/Laisbien/CopilotIndices/18.0.955.22606/SemanticSymbols.db-shm
.vs/Laisbien/CopilotIndices/18.0.955.22606/SemanticSymbols.db-wal
